site_name: CODAQUI.dev
site_author: codaqui // endersonmenezes
site_url: https://codaqui.dev/
site_description: "Queremos democratizar o aprendizado tecnológico, e aproximar novas gerações do conteúdo tecnico."
copyright: Codaqui &copy; Copyright - 2024 - Todos os direitos reservados - CNPJ 44.593.429/0001-05
repo_url: https://github.com/codaqui
edit_uri: 'https://github.com/codaqui/institucional/tree/main/docs'

nav:
    - Inicio: index.md
    - Sobre:
      - Equipe: team.md
      - Associação: ong.md
      - Linha do Tempo: timeline.md
      - Pais e Responsáveis: pais_responsaveis.md
      - Código de Conduta: conduta.md
    - Mentorias: quero/mentoria.md
    - Participe: #
      - "#QueroEstudar": quero/estudar.md
      - "#QueroApoiar": quero/apoiar.md
      - "#QueroMentoria": quero/mentoria.md
    - Trilhas: trilhas.md
    - "Trilha: Python":
      - "Apresentação": trilhas/python/index.md
      - "Aula 1: Variáveis e Tipos de Dados": trilhas/python/page-1.md
      - "Aula 2: Estruturas Lógicas e Condicionais": trilhas/python/page-2.md
      - "Aula 3: Estruturas de Repetição": trilhas/python/page-3.md
      - "Aula 4: Coleções": trilhas/python/page-4.md
      - "Aula 5: Funções": trilhas/python/page-5.md
      - "Aula 6: Comprehensions": trilhas/python/page-6.md
      - "Aula 7: Expressões Lambdas e Funções Integradas": trilhas/python/page-7.md
      - "Aula 8: Debugando e Tratando Erros": trilhas/python/page-8.md
      - "Aula 9: Trabalhando com Módulos": trilhas/python/page-9.md
      - "Aula 10: Manipulação de Arquivos": trilhas/python/page-10.md
      - "Aula 11: Iteradores e Geradores": trilhas/python/page-11.md
      - "Aula 12: Decoradores": trilhas/python/page-12.md
      - "Aula 13: Orientação a Objetos": trilhas/python/page-13.md
      - "Aula 14: Herança e Polimorfismo": trilhas/python/page-14.md
      - "Aula 15: Testes": trilhas/python/page-15.md
      - "Aula 16: Novidades": trilhas/python/page-16.md
    - "Trilha: GitHub":
      - "Apresentação": trilhas/github/index.md
      - "Aula 1: Introdução ao Git": trilhas/github/page-1.md
    - Blog:
      - blog/index.md
    - Contato: contact.md

theme:
  name: material
  custom_dir: overrides
  language: pt
  logo: assets/logo_blk.png
  palette:
    primary: black
  favicon: assets/favicon.png
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - navigation.sections
    - navigation.path
    - content.code.annotate
    - content.tabs.link
    # - announce.dismiss
  icon:
    repo: fontawesome/brands/github
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16
    
markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true 
  - footnotes


plugins:
  - search
  - meta
  - tags
  - social
  # - privacy
  # - git-authors
  - blog:
      blog_dir: blog
      post_dir: "{blog}/posts"
      post_url_date_format: YYYY/MM/dd
      post_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      archive_name: "Arquivo"
      categories_name: "Categorias"
      authors: true
      authors_file: "{blog}/.authors.yml"
  # - rss:
  #     match_path: blog/posts/.* 
  #     date_from_meta:
  #       as_creation: date
  #     categories:
  #       - categories
  #       - tags
  - git-committers:
      repository: codaqui/institucional
      token: !ENV GH_TOKEN
      branch: main
  # - git-revision-date-localized:
  #     enabled: !ENV [GIT_REVISION_DATE_LOCALIZED, false]
  #     enable_creation_date: true

extra_css:
  - stylesheets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/codaqui
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/codaquidev
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/company/codaqui
    - icon: fontawesome/brands/instagram
      link: https://instagram.com/codaqui.dev
    - icon: fontawesome/brands/youtube
      link: https://youtube.com/@codaqui
  consent:
    title: LGPD Cookies
    description: >- 
      Usamos cookies para reconhecer suas visitas e preferências repetidas, bem como
      para medir a eficácia de nossa documentação e se os usuários encontrarem o que eles estão procurando. Com o seu consentimento, você está nos ajudando a
      tornar nossa documentação melhor.
  analytics:
    provider: google
    property: G-CL043JTTND
    feedback:
      title: Esta página foi útil?
      ratings:
        - icon: material/thumb-up-outline
          name: Esta página foi útil
          data: 1
          note: >-
            Obrigado pelo seu feedback!
        - icon: material/thumb-down-outline
          name: Esta página pode ser melhorada
          data: 0
          note: >- 
            Obrigado pelo seu feedback! Nos ajude a melhorar essa página,
            relate o que gostaria que fosse melhorado em <a href="https://github.com/codaqui/institucional/discussions" target="_blank" rel="noopener">nosso ambiente de discussão!</a>
