:root {
    --md-admonition-icon--codaqui-icon: url('http://localhost:8000/assets/icons/codaqui.svg')
    }

    .md-typeset .admonition.codaqui-icon,
    .md-typeset details.codaqui-icon {
        border-color: rgb(72, 72, 72);
    }

    .md-typeset .codaqui-icon > .admonition-title,
    .md-typeset .codaqui-icon > summary {
        background-color: rgba(72, 72, 72, 0.1);
    }

    .md-typeset .codaqui-icon > .admonition-title::before,
    .md-typeset .codaqui-icon > summary::before {
        background-color: rgb(72, 72, 72);
        -webkit-mask-image: var(--md-admonition-icon--codaqui-icon);
        mask-image: var(--md-admonition-icon--codaqui-icon);
    }